* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#app {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
}

header  {
border: 1px dotted black;
background-color: rgb(219, 191, 221);
height: 80px;
width: 100% ;
display: flex;
}

/* HEADER LEFT */

.header-left {
    border: 1px dotted black;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-leftleft {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    margin-left: 5px;
}

.io {
    display: flex;
    align-items: center;
}

.io-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px dotted black;
}

.io-nome {
    margin-left: 5px;
}

.header-leftright {
    border: 1px dotted black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;


}
.header-leftright span:last-child{
    margin-right: 20px;
}

/* HEADER RIGHT */

.header-right {
    border: 1px dotted black;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    }
    

.header-rightleft {

    border: 1px dotted black;
    display: flex;
    
}

.chatimg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px dotted black;
    margin-left: 10px;
        
    }
    .contattochat{
        margin-left: 20px;
        
    }

.header-rightright {
    border: 1px dotted black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    
    
    
}
.header-rightright span:last-child{
    margin-right: 20px
}

.container {
    margin: auto;
    border: 3px dotted black;
    height: 100%;
    width: 100%;
    display: flex;
}

.contatti {
    border: 1px dotted black;
    width: 35%;
    height: 100%;
}

.notifiche {
    border: 1px dotted black;
}

.barradiricerca {
    border: 1px dotted black;
}

.pulsante {
    border: 1px dotted black;
}

.testo {
    border: 1px dotted black;
}

.listacontatti {
    border: 1px dotted black;
}

.img {
    border: 1px dotted black;
}

.nomecontatto {
    border: 1px dotted black;
}

.dataultimomessaggio {
    border: 1px dotted black;
}

.chat {
    border: 1px dotted black;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-up {

    border: 1px dotted black;
    background-color: pink;
    height: 92%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;

}
.boxmessaggi {
    width: 75%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    
}


.messaggio-inviato, .messaggio-ricevuto{

    border: 1px dotted black;
    text-overflow: ellipsis;
    height: 45px;
    min-width: 40%;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    margin-top: 8px;
    
    
}

.messaggio-inviato {
    align-self: flex-end;
    background-color: green;
   
}

.messaggio-ricevuto {
    align-self: flex-start;
    background-color: white;
}

.orainviato, .oraricevuto{
    font-size: 9px;
    position: relative;
}

.orainviato {
    left: 23%;
    top: 23%
}
.oraricevuto {
    left: 35%;
    top: 23%
}



.chat-down {

    border: 1px dotted black;
    height: 8%;
    width: 100%;
    background-color: rgb(227, 208, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.chat-downleft {
    border: 1px dotted black;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chat-downmiddle {
    border: 1px dotted black;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chat-downright {
    border: 1px dotted black;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.digita {
    height: 80%;
    width: 100%;
    border-radius: 10px;
}
