* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#app {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
}

header  {
border: 1px dotted black;
background-color: rgb(219, 191, 221);
height: 80px;
width: 100% ;
display: flex;
}

/* HEADER LEFT */

.header-left {
    border: 1px dotted black;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-leftleft {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    margin-left: 5px;
}

.io {
    display: flex;
    align-items: center;
}

.io-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px dotted black;
}

.io-nome {
    margin-left: 5px;
}

.header-leftright {
    border: 1px dotted black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;


}
.header-leftright span:last-child{
    margin-right: 20px;
}

/* HEADER RIGHT */

.header-right {
    border: 1px dotted black;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    }
    

.header-rightleft {

    border: 1px dotted black;
    display: flex;
    
}

.chatimg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px dotted black;
    margin-left: 10px;
        
    }
    .contattochat{
        margin-left: 20px;
        
    }

.header-rightright {
    border: 1px dotted black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    
    
    
}
.header-rightright span:last-child{
    margin-right: 20px
}

.container {
    margin: auto;
    border: 3px dotted black;
    height: 100%;
    width: 100%;
    display: flex;
}

.contatti {
border: 1px dotted black;
}

.notifiche {
border: 1px dotted black;
}

.barradiricerca {
border: 1px dotted black;
}

.pulsante {
border: 1px dotted black;
}

.testo {
border: 1px dotted black;
}

.listacontatti {
border: 1px dotted black;
}

.img {
border: 1px dotted black;
}

.nomecontatto {
border: 1px dotted black;
}

.dataultimomessaggio {
border: 1px dotted black;
}

.chat {
border: 1px dotted black;
}

.chat-up {
border: 1px dotted black;
}

.messaggi-inviati {
border: 1px dotted black;
}

.messaggi-ricevuti {
border: 1px dotted black;
}

.chat-down {
border: 1px dotted black;
}

.chat-downleft {
border: 1px dotted black;
}

.chat-downmiddle {
border: 1px dotted black;
}

.chat-downright {
border: 1px dotted black;

}
